# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3

# Virtual environment
venv/
ENV/
env/

# Django specific
*.log
*.pot
*.pyc
*.pyo
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# Node / React frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.vite/

# MacOS / Windows
.DS_Store
Thumbs.db
